<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="root-menu" label="Openbox 3">
  <item label="Terminal">
    <action name="Execute"><execute>gnome-terminal</execute></action>
  </item>
  <item label="Brave">
    <action name="Execute"><execute>flatpak run org.mozilla.firefox</execute></action>
  </item>
  <item label="Email">
    <action name="Execute"><execute>flatpak run org.gnome.Geary </execute></action>
  </item>
  <item label="Telegram">
    <action name="Execute"><execute>flatpak run org.telegram.desktop </execute></action>
  </item>
  <separator />
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
